<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html> 
 
         <header class="default-menu">
            <main>
                <div class="header-1">

            
                <div class="start">
                <img src="./images/start.png" width="40" height="36"/>
                </div>
                     <div class="nome-professor">
                        <img src="./images/nomeSite.png" width="125" height="28"/>                         </div>
                </div>
            </main>
        </header> 
        <main class="col urls">
            <div class="header-2">
                <div class="menu"> 
                    <ul>
                        <li>
                            <a href="/">Pagina Inicial</a>
                        </li>
                        {{#if user}}
                        <li>
                            <a href="redacoesCorrigidas">Minhas Redações</a>
                        </li>
                         <li>
                            <a href="redacaoSend">Enviar Redação</a>
                        </li>
                        <li>
                            <a href="crudAluno">Conta</a>
                        </li> 
                        <li>
                            <a href="/logout">Sair</a>
                        </li>
                        {{else}}
                        <li>
                            <a href="areaAluno">Login</a>
                        </li>
                        <li>
                            <a href="registro">Registrar-se</a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </main>
        <div class="col-100"style="height: 180px;">
            <div class="redacoes-1">
                    <h2>Redações</h2>
            </div>
  </div>
                        {{#each redacoes}}
                        <div class="card">
                        <div class="card-body2">
                            <p class="card-text">{{texto}}</p>
                            <a href="/redacao/{{_id}}"><button class="btn btn-primary">Leia mais...</button></a><br>
                            <a href="/redacoesCorrigidas/edit/{{_id}}"><button class="btn btn-success mt-2">Editar</button></a>
                            <a href="/redacoesCorrigidas/deletar/{{_id}}"><button class="btn btn-danger mt-2">Deletar</button></a>
                        </div>
                        </div>
                        {{else}}
                        <p>Nenhuma redacao registrada!</p>
                        {{/each}}              

 